PORT=8080

NODE_ENV=development
# NODE_ENV=production

LOG_LEVEL=debug
ENABLE_CONSOLE_LOGS=false

DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=omapp
DB_CLIENT=mysql
DB_HOST=localhost

MONGODB_CONNECT_URL=your_url

#JWT
JWT_ACCESS_TOKEN_SECRET=this_is_a_super_secure_secret_key_123!
JWT_REFRESH_TOKEN_SECRET=this_is_a_super_secure_secret_key_12345

CLIENT_SERVER_URL=http://localhost:3000
SERVER_URL=http://localhost:8080